.aa-folder-search .search-input-container {
  width: 100%;
  max-width: 300px;
}

.aa-h2 {
  font-size: 22px !important;
}

.aa-new-config-btn {
  margin-top: 10px;
  width: 200px;
}

.aa-delete-btn {
  background-color: #ed3434 !important;
}

.aa-delete-btn:hover {
  background-color: #f05656 !important;
}